/* Main settings */
:root {
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  --black-color: #212121;
  --hover-color: #2196f3;
  --white-color: #ffffff;
  --milk-color: #f5f4fa;
  --grey-color: #757575;
  --border-color: #ececec;
  --projects-color: #eeeeee;
  --footer-color: #2f303a;
  --order-block-color: #c4c4c4;
  --order-btn-backgrn-clr: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font), sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

h3 {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  display: flex;
}

.flex-container-wrap {
  flex-wrap: wrap;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.a-tag,
.a-tag-header {
  color: var(--black-color);
  text-decoration: none;
}

.a-tag:hover,
.a-tag-header:hover {
  color: var(--hover-color);
}

.img-tag {
  display: block;
}

.button-list {
  justify-content: center;
  margin-bottom: 50px;
}

.button-li {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  border-width: 0px;
  background-color: var(--milk-color);
  border-radius: 4px;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.62;
}

.button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-all {
  height: 38px;
  font-weight: 500;
}

.current-btn {
  background-color: var(--hover-color);
  color: var(--white-color);
}

/* Header section */
.header {
  border-bottom: 1px solid var(--border-color);
}

.header-flex-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font), sans-serif;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-right: 92px;
  color: var(--hover-color);
}

.a-tag-header {
  padding: 32px 0;
  display: block;
}

.logo-black {
  color: var(--black-color);
}

.logo-white {
  color: var(--white-color);
}

.all {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.studio,
.portfolio,
.contact {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.studio-open,
.portfolio-open {
  color: var(--hover-color);
}

.contacts {
  margin-left: auto;
}
.header-tel,
.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-email {
  margin-right: 50px;
}

.tel,
.email {
  color: var(--grey-color);
}

.envelope,
.smartphone {
  fill: var(--grey-color);
}

/* .envelope {
  margin-right: 10px;
} */

.a-tag-header:hover .envelope,
.a-tag-header:hover .smartphone {
  fill: var(--hover-color);
}

/* main section */
.projects-img-block {
  width: 370px;
  margin-right: 30px;
  background: var(--white-color);
  margin-bottom: 30px;
}

.projects-img-block:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img-block:nth-child(3n + 3) {
  margin-right: 0;
}
.projects-img-block:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-text {
  padding: 20px 24px;
  border: 1px solid var(--projects-color);
  border-top: 0;
}

.projects-name {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.projects-descrition {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

/* page index */
.order-block {
  padding: 200px 0;
  max-width: 1600px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
     url(../images/main/main-background.jpg);

  background-color: var(--order-block-color);
  background-position: center;
  background-repeat: no-repeat;
}


.order-button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.order-button:hover {
  background-color: var(--order-btn-backgrn-clr);
}

/* about us section */
.about-us-li {
  width: 270px;
  margin-right: 30px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.about-us-caption {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black-color);
}

.about-us-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-top: 10px;
  margin-bottom: 0;
}

/* what we do section */
.what-we-do-sect {
  padding-top: 0;
}

.what-we-do {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.what-we-do-img {
  margin-right: 30px;
}

/* our team section */
.our-team {
  background-color: var(--milk-color);
}

.our-team-caption {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team ul {
  display: flex;
}

.team-member-block {
  margin-right: 30px;
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  padding: 30px 0;
  text-align: center;
  color: var(--black-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-member-profession {
  color: var(--grey-color);
  margin: 10px 0 0 0;
  font-weight: normal;
}

/* footer section */
.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

.flex-container-footer {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.map {
  color: var(--white-color);
  margin-bottom: 8px;
}

.footer-email,
.footer-tel {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  color: var(--footer-contacts-color);
}

.footer-tel:last-child {
  margin: 0;
}

.about-us-li:last-child,
.what-we-do-img:last-child,
.team-member-block:last-child,
.button-li:last-child,
.contact {
  margin-right: 0;
}
